.container{
    height: 100vh;
    background-color: #23272A;
    overflow: hidden;
}

.heading{
    color: #fff;
    font-size: 26px;
    margin-left: 25px;
}

.fileName{
    color: #000!important;
    padding: 8px;
    font-size: 15px;
    border: 2px solid #000;
    outline: 0;
    border-radius: 5px;
    margin-right: 10px;
}

.inputBox{
    width: 100%;
    margin-top: 10px;
    background-color: #23272A;
    color: #fff;
    outline: 0;
    height: 90%;
    border: 1.5px solid #5663F7;
    border-radius: 5px;
    padding: 1px;
}
