.smallScreenMsg{
    background-color: #23272A;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: #23272A;
    position: relative;
    color: #fff;
}

.subContainer{
    width: 70%;

}