*{
    margin: 0;
    padding: 0;
}

.loadingBlk{
    text-align: center;
    background-color: #222;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100vh;
    color: #fff;
    background-color: #23272A;
}

.codesHead{
    margin: 30px auto;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.wrapper{
    height: 100%;
}
