.container{
    height: 100%;
}

.formContainer{
    width: 50%;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    color: #fff!important;
    border-color: #fff!important;
}



label{
    color: #fff!important;
}

